.home {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -200px;
  margin-top: -3rem;
  margin-right: -3rem;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 110%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.bp3-card {
  border-radius: 3rem;
  /* background: rgba(255, 255, 255, 0.1); */
  border-width: 1rem;
  border-color: white;
}

.button-outline {
  background: transparent !important;
  color: #161637;
  border-radius: 3rem;
  font-weight: 700;
  border-width: 0.1rem;
  border-color: #161637;
  padding: 4px 10px;
  padding-right: 20px !important;
  padding-left: 20px !important;
  border-style: solid;
}

.glance-img-container > img {
  box-shadow: 0.4rem 0.3rem #d2effc;
  /*padding: 0.3rem; */
}

.modal-dialog.fullscreen {
  max-height: 90vh;
  height: 90vh;
  overflow: scroll;
}

.modal-dialog.fullscreen > .modal-content > .modal-body {
  height: 80vh;
}

/* 
.modal-dialog.fullscreen > .modal-content > .modal-body {
  height: 88vh;
} */

.modal-backdrop.fade {
  opacity: 0.9 !important;
}

button.close {
  background-color: transparent;
  font-size: 1.5rem;
  border-width: 0;
}

button.early-access {
  position: absolute;
  bottom: 10vh;
  border-radius: 1rem;
  border-width: 0;
  padding: 1rem 2rem 0.5rem;
  outline: 0;
  background: white;
  border: none;
  padding: 1em 2em;
  transition: all 0.3s ease-out;
  box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.2), 1px 1px 0 0 #2b2c95,
    2px 2px 0 0 #2b2c95, 3px 3px 0 0 #2b2c95, 4px 4px 0 0 #2b2c95,
    5px 5px 0 0 #2b2c95, 6px 6px 0 0 #2b2c95, 7px 7px 0 0 #2b2c95,
    8px 8px 0 0 #2b2c95, 9px 9px 0 0 #2b2c95, 10px 10px 0 0 #2b2c95,
    11px 11px 0 0 #2b2c95, 12px 12px 0 0 #2b2c95, 13px 13px 0 0 #2b2c95;
}

button.early-access:hover {
  color: #2b2c95;
}

button.early-access:active {
  color: #2b2c95;
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2), 1px 1px 0 0 #2b2c95,
    2px 2px 0 0 #2b2c95, 3px 3px 0 0 #2b2c95, 4px 4px 0 0 #2b2c95,
    5px 5px 0 0 #2b2c95;
}

.button-3d {
  outline: 0;
  font-size: 1em;
  font-weight: 600;
  background: #f5fbff;
  border: none;
  padding: 1em 2em;
  border-radius: 0.4rem;
  transition: all 0.3s ease-out;
  box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.2), 1px 1px 0 0 #d2effc,
    2px 2px 0 0 #d2effc, 3px 3px 0 0 #d2effc, 4px 4px 0 0 #d2effc,
    5px 5px 0 0 #d2effc, 6px 6px 0 0 #d2effc, 7px 7px 0 0 #d2effc;
}
.button-3d:hover {
  color: #444;
}
.button-3d:active {
  color: #222;
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2), 1px 1px 0 0 #d2effc;
  /* 2px 2px 0 0 #d2effc, 3px 3px 0 0 #d2effc, 4px 4px 0 0 #d2effc, */
  /* 5px 5px 0 0 #d2effc; */
}
