.header {
  height: 100px;
  display: flex;
  /* background-color: white; */
  position: sticky;
  top: 0;
  z-index: 100;
  /* box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px !important; */
  margin-bottom: 3rem;
  display: flex;
}

.header__logo {
  width: 40px;
  object-fit: contain;
  margin: 0 20px;
}

.header__searchInput {
  height: 2rem;
  border: none;
  width: 100%;
  border-radius: 5rem;
  background-color: #f0f2fc;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  align-items: center;
  color: #161637;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: #161637;
}

a {
  text-decoration: none !important;
}

.metamask_box {
  background-color: #2b2c95;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
}
